{
  "name": "BybitXChangeConnector",
  "config": {
    "connector.class": "io.connect.xchange.XChangeConnector",
    "kafka.topic": "market-data-avro",
    "xchange.poll.interval.ms": 25000,
    "xchange.market.class.name": "org.knowm.xchange.bybit.BybitExchange",
    "xchange.market.instruments": "ETH/BTC,XRP/BTC,SOL/BTC,LTC/BTC,BNB/USDT,BNB/USDC,ETH/USDT,ETH/USDC,BTC/USDT,BTC/USDC",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.enhanced.avro.schema.support": "true",
    "confluent.custom.schema.registry.auto": "true",
    "tasks.max": "2"
  }
}
