{
  "name": "xchange-connector",
  "config": {
    "connector.class": "io.connect.xchange.XChangeConnector",
    "kafka.topic": "prices",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "xchange.poll.interval.ms": 20000,
    "xchange.market.data.symbols": "ETH-BTC,BTC-DAI,BTC-TRY,SOL-BTC",
    "xchange.market.data.exchange": "bybit",
    "tasks.max": "1"
  }
}