{
  "name": "BinanceXChangeConnector",
  "config": {
    "connector.class": "io.connect.xchange.XChangeConnector",
    "kafka.topic": "market-data-avro",
    "xchange.poll.interval.ms": 19000,
    "xchange.market.class.name": "org.knowm.xchange.binance.BinanceExchange",
    "xchange.market.instruments": "ETH/BTC,XRP/BTC,SOL/BTC,BNB/BTC,DOGE/BTC,BTC/USDT,ETH/USDT,XRP/USDT,SOL/USDT,BNB/USDT,DOGE/USDT",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "io.confluent.connect.avro.AvroConverter",
    "value.converter.enhanced.avro.schema.support": "true",
    "confluent.custom.schema.registry.auto": "true",
    "tasks.max": "2"
  }
}